.about {
    .box {
        padding-top: 50px;

        a,
        i {
            line-height: 1.5em;
            font-size: 1em;
            font-weight: 500;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        blockquote {
            margin: 0;
        }

        .quotoSICP {
            font-size: 14px;
            margin-left: 10px;

            p {
                text-align: left;
                font-weight: 700;
                line-height: 20px;
                margin: 0;
            }
        }
    }

    .giscus-frame {
        width: 100%;
        min-height: 200px;
        max-height: 600px;
        border-top: 1px solid var(--gray-color);
        margin-top: 20px;
        padding-top: 20px;
        overflow: auto;
    }
}


.giscus-frame::-webkit-scrollbar {
    display: none;
}


.selfLeft {
    flex: 1;
    text-align: left;

    .introduction {

        p {
            margin: 10px 0;
            line-height: 20px;
            font-size: 16px;
        }
    }

    .myPic {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
    }

    .myPic img {
        max-width: 80px;
        max-height: 80px;
    }
}

.selfRight {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    flex: .5;
}

@media screen and (max-width: 750px) {
    .about {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .guide {
        margin: 15px 0;
    }

    .selfLeft {
        text-align: center;
    }

    .selfRight {
        flex: 1;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-top: 20px;
    }
}