.about {
    text-align: center;
    padding: 5%;
    p,
    a,
    i {
        line-height: 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .guide {
        margin: 15px 0;
    }
}
