.about {
    text-align: center;
    padding: 5%;
    p,
    a,
    i {
        line-height: 1.5em;
        font-size: 1.2em;
        font-weight: 500;
    }
}
.aboutmePic {
    width: 250px;
    height: 300px;
    background: url(https://avatars0.githubusercontent.com/u/7224894?s=460&v=4) no-repeat;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    right: 35px;
}

@media screen and (max-width: 750px) {
    .guide {
        margin: 15px 0;
    }
}
