.tags {

  padding: 0;

  li {
    float: left;
    background: #f2f2f2;
    text-decoration: none;
    list-style: none;
    cursor: pointer;

    a {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      color: #666;
    }
  }

  li:hover {
    .selectedTag;
  }

  .selectedTag {
    background: #333;
    text-decoration: none;

    a {
      color: #fff;
    }
  }

}