.article {
    margin-bottom: 60px;
    width: 100%;
    text-align: justify;
    padding: 0 10px;

    &-title {
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
    }

    &-date {
        color: var(--ft-minor-color);
        text-align: center;
        margin: 10px 0;
    }

    &-tags {
        float: right;
        font-size: 12px;

        &-link {
            color: var(--gray-color);
            text-decoration: none;
            margin-left: 3px;
        }

        &-link:hover {
            color: var(--ft-minor-color);
        }
    }

    &-tags::after {
        clear: both;
    }

    &-info {
        height: 24px;
        margin: 20px 0;
        border-bottom: 1px solid var(--gray-color);
    }

}

.article {
    img {
        max-width: 100%;
        margin: auto;
        display: block;
    }
}

.article .heti {
    max-width: 95%;
    margin: 0 auto;
}