@import "../../base.less";

.article {
    margin-bottom: 60px;
    width: 100%;
    text-align: justify;
    padding: 0;

    &-title {
        font-size: 1.65em;
        text-align: center;
        font-family: "Times New Roman", times, "Source Han Serif SC", Georgia, "Noto Serif SC","Heti Song", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    }

    &-date {
        color: var(--ft-minor-color);
        text-align: center;
        margin: 10px 0;
    }

    &-tags {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: 12px;

        &-link {
            color: var(--gray-color);
            text-decoration: none;
            margin-left: 3px;
        }

        &-link:hover {
            color: var(--ft-minor-color);
        }
    }

    &-info {
        min-height: 24px;
        margin: 20px 0;
        border-bottom: 1px solid var(--gray-color);
    }
}

.article {
    img {
        max-width: 100%;
        margin: auto;
        display: block;
    }
}

.article .heti {
    max-width: 100%;
    margin: 0 auto;
}
