@import "../../base.less";



.toc {
    display: none;

    @media @desktop {
        display: block;
        color: #797979;
        min-width: 200px;
        max-width: max-content;
        background: var(--bg-main-color);
        right: 25%;
        position: fixed;
    }

    ol {
        margin: 0;
        padding-left: 10px;
    }

    li {
        color: var(--blue-color);
        margin: 10px;
        list-style: none;
    }

    a:hover {
        cursor: pointer;
        color: #2060d0;
    }
}
