@font-face {
    font-family: 'Oswald';
    src: url('~@/assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Oswald';
    src: url('~@/assets/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
}

html {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#app {
    background-color: #f2f2f2;
}


.wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(200, 200, 200, .14);
    position: relative;
    overflow: hidden;
}

.articles {
    padding: 80px 60px;
}
