// Home 页面
.content {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(200, 200, 200, 0.14);
}
@media screen and (max-width: 750px) {
    .content {
        padding: 80px 20px;
    }
}

@media screen and (min-width: 750px) {
    .content {
        padding: 80px 60px;
    }
}
