// Home 页面
.content {
    background: #fff;
}
@media screen and (max-width: 750px) {
    .content {
        padding: 80px 20px;
    }
}

@media screen and (min-width: 750px) {
    .content {
        padding: 80px 60px;
    }
}
