.aranya {
    display: flex;
    margin: 0 auto;
    flex-flow: column nowrap;
    flex: 1;
    width: 100%;

    .heti {
        margin: 0 auto;
        max-width: 100%;
    }

    .tags {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        padding: 0;

        .tag {
            display: inline-block;
            text-decoration: none;
            background: var(--gray-color);
            color: var(--ft-minor-color);
            list-style: none;
            cursor: pointer;
            margin: 3px;
            padding: 0 5px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }

        .tag:hover {
            background: var(--ft-main-color);
            color: var(--white-color);
        }

        .selectedTag {
            background: var(--ft-main-color);
            color: var(--white-color);
        }

        &:after {
            content: "";
            display: block;
            flex-grow: 99999;
        }
    }
}

.newRecord {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 20px 0;

    .btn {
        padding: 5px;
        border: none;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        color: var(--ft-main-color);
        background-color: #0000;
    }

    .btn:hover {
        background-color: black;
        color: var(--white-color);
    }
}

.newRecord:focus-within,
.newRecord:hover {
    background-color: #00000005;

    .editArea {
        background-color: #0000;
    }
}

.editArea {
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.editArea:focus-within {
    background-color: #00000005;
}

.timeline {
    overflow: auto;
    max-height: 85vh;

    .record {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 30px;

        .content {
            width: 100%;
            padding: 10px;
        }

        img {
            max-width: 100%;
        }

        .tagItem {
            display: inline-block;
            text-decoration: none;
            list-style: none;
            background: var(--gray-color);
            color: var(--ft-minor-color);
            margin: 5px;
            padding: 0 5px;
            height: 24px;
            line-height: 24px;
            font-size: 14px;
        }

        .tagItem:first-of-type {
            margin: 5px 0px;
        }

        &-info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            padding: 0 10px;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
        }

        .opt {
            display: none;
            flex: 1;
        }

        .btn {
            background: var(--bg-main-color);
            border: none;
            color: var(--ft-minor-color);
            cursor: pointer;
            font-weight: bold;
        }

        .confirm {
            flex: 1;
        }

        .emphasis {
            font-weight: bold;
            color: var(--white-color);
            background: var(--ft-main-color);
        }
    }

    .record:hover,
    .record:focus-within {
        .opt {
            display: block;
        }
    }

    .datetime {
        display: flex;
        font-size: 0.8em;
        color: var(--ft-minor-color);
    }
}

.timeline::-webkit-scrollbar {
    display: none;
}
