.aranya {
    display: flex;
    margin: 0 auto;
    flex-flow: column nowrap;
    flex: 1;
    width: 100%;

    .tags {
        li {
            margin: 5px;
        }
    }

    .door {
        margin-top: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        p {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        .key {
            border: none;
            outline: none;
            width: 100%;
            text-align: center;
        }
    }
}

.heatmap {
    margin: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    background: #fafafa;

    .left {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .count {
        font-weight: bold;
        cursor: pointer;
        margin-right: 5px;

        span {
            margin-left: 5px;
        }
    }

    .heatPoint {
        width: 15px;
        height: 15px;
        margin: 3px;
        cursor: pointer;
    }

    .prev,
    .next {
        margin: 0 5px;
        cursor: pointer;
        line-height: 20px;
        font-size: 12px;
        color: rgba(0, 0, 0, .5);
    }
}

.newRecord {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .btn {
        padding: 0 5px;
    }
}

.newRecord:hover,
.newRecord:focus-within {
    background-color: rgba(0, 0, 0, .02);
}

.editArea {
    resize: none;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    width: 100%;

}

.timeline {
    overflow: auto;
    max-height: 85vh;

    .record {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 30px;
        background-color: rgba(0, 0, 0, .02);

        .content {
            width: 100%;
            padding: 10px;
        }

        .props {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            border-top: 1px solid #e5e5e5;
        }

        .opt {
            visibility: hidden;
        }
    }

    .record:hover,
    .record:focus-within {
        .opt {
            visibility: visible;
        }
    }
}

.btn {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
}

.timeline::-webkit-scrollbar {
    display: none;
}