.aranya {
    display: flex;
    text-align: center;
    padding: 5%;
    max-height: 300px;
    margin: 0 auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
