.nav {
    height: 80px;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    position: fixed;
    background: #fff;
    z-index: 999;
}
.nav::after {
    clear: both;
}

.nav-header {
    float: left;
    .nav-sitename {
        font-weight: 900;
        color: #424243;
        text-transform: uppercase;
    }
}
.nav-menu {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    .nav-item {
        cursor: pointer;
        color: #808080;
        line-height: 80px;
        display: inline-block;
        margin: 0 10px;
        & a:visited {
            color: #808080;
        }
        & a:hover {
            font-weight: bold;
            color: #000;
        }
    }
}

@media screen and (max-width: 750px) {
    .nav {
        padding: 0;
    }
}

@media screen and (min-width: 750px) {
    .nav {
        padding: 0 40px;
    }
}
