.nav {
    height: 80px;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    z-index: 999;
}
.nav::after {
    clear: both;
}

.nav-header {
    .nav-sitename {
        font-weight: 900;
        color: #424243;
        text-transform: uppercase;
    }
}
.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .nav-item {
        width: 100px;
        cursor: pointer;
        color: #808080;
        line-height: 80px;
        text-align: center;
        display: inline-block;
        padding: 0 10px;
        & a:visited {
            color: #808080;
        }
        & a:hover {
            font-weight: bold;
            color: #000;
        }
    }
}

@media screen and (max-width: 750px) {
    .nav {
        justify-content: center;
        padding: 10px;
    }
}

@media screen and (min-width: 750px) {
    .nav {
        justify-content: space-between;
        position: fixed;
        padding: 0 40px;
    }
}
