.nav {
    min-height: 80px;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: var(--bg-main-color);
}

.dark-mode-btn {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.nav-header {
    flex: 1;

    .nav-sitename {
        font-family: "ksana-title", "Times New Roman", times, "Heti Kai Black", serif;
        font-weight: 900;
        font-size: 42px;
        color: var(--ft-main-color);
        text-transform: uppercase;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    font-family: "ksana-nav", "Times New Roman", times, "Heti Kai Black", serif;

    .nav-item {
        cursor: pointer;
        font-size: 24px;
        color: var(--ft-main-color);
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        padding: 5px;
        font-weight: bold;
    }

    .nav-active,
    .nav-item:hover {
        background: var(--ft-main-color);
        color: var(--white-color);
    }

}

@media screen and (max-width: 750px) {
    .nav {
        justify-content: space-between;
    }
}

@media screen and (min-width: 750px) {
    .nav {
        justify-content: space-between;
    }
}