@import "../../base.less";
@font-face {
  font-family: "ksana-title";
  src: url("./title-font.woff2") format("woff2");
  font-weight: normal;  
  font-style: normal;    
  font-display: swap;   
}

.nav {
    min-height: 60px;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: var(--bg-main-color);

    @media @desktop {
        min-height: 80px;
    }
}

.dark-mode-btn {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.nav-header {
    flex: 1;

    .nav-sitename {
        font-family: "ksana-title";
        font-weight: 900;
        font-size: 32px;
        color: var(--ft-main-color);
        text-transform: uppercase;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    font-family: "Times New Roman", times, "Heti Kai Black", serif;

    .nav-item {
        cursor: pointer;
        font-size: 18px;
        color: var(--ft-main-color);
        text-align: center;
        display: inline-block;
        margin-left: 6px;
        padding: 0 5px;
        font-weight: bold;

        @media @desktop {
            font-size: 18px;
            margin-left: 10px;
        }
    }

    .nav-active,
    .nav-item:hover {
        background: var(--ft-main-color);
        color: var(--white-color);
    }
}
