// archive 页面
.archive {
  h3 {
    height: 22px;
    line-height: 22px;
  }
  ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
  }
  li {
    cursor: pointer;
    margin: 5px 5px;
    line-height: 30px;
  }
}

.archive-tag-items {
  li {
    background: #f2f2f2;
    color: #666;
    float: left;
  }
  a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
  li:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
  }
}

.archive-list-items {
  li:hover {
    opacity: 0.6;
  }
  .item-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .item-date {
    display: inline-block;
    text-align: right;
    overflow: hidden;
  }
}

@media screen and (max-width: 750px) {
  .item-name {
    padding-right: 5px;
    width: 60%;
  }
  .item-date {
    width: 40%;
  }
}

@media screen and (min-width: 750px) {
  .item-name {
    width: 75%;
  }
  .item-date {
    width: 25%;
  }
}
